/*-------------APPLIES TO ALL-------------*/

html{
  box-sizing:border-box;
}

body{
  font-family: sans-serif;
  margin:0;
  background-color:white;
  color:#3a3a3a;
  font-weight: 500;
}

a{
    /*styling*/
    color:#3a3a3a;
    text-decoration: none;
  
    /*animation*/
    transition:all,0.5s;
  
    /*displays as in-line block next to eachother*/
    display: inline-block;
  }

a:hover{
  background:rgba(0,0,0,0.3);

}

ul{
  list-style:none;
  margin:0;
  padding:0;

  display:flex;
}

/*line breaks for whitespace*/
#my-text::after{
  content: "\a";
  white-space: pre;
}

button{
  background-color: #3a3a3a;
  color: white;
  padding:10px 25px;
  border:none;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  border-radius: 6px;
}

button:hover{
  background-color: #6f6f6f;
  color: rgb(206, 206, 206);
}

/*-------------NAV BAR-------------*/

/* flex container of whole nav bar */
.wrapper{
  max-width:100%;
  margin: 0 auto;
  padding:20px;

  display:flex;

  font-weight: 100;
  letter-spacing: 2px;
}

/*-------------NAV BAR: LOGO-------------*/

/* nested flex container of logo (20%) partitioned to the left of nav bar */
.flex-logo{
  width:19%;
  padding:1%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 250px;

  white-space: nowrap;
}

/*area of link*/
.flex-logo a{
  padding:2px 20px;
}

.flex-logo ul{
  height:10vh;
  justify-content: flex-start;
}

.flex-logo li{
  align-self:center;
}

/*bold Margo in flex-logo*/
.flex-logo span{
  font-weight:600;
}

/*make sure logo fits in div container*/
.flex-logo img{
  height:auto;
  object-fit: contain;
}

/*-------------NAV BAR: ITEMS-------------*/

/* nested flex container of items (80%) partitioned to the right of nav bar */
.flex-nav{
  width: 79%;
  padding: 1%;
}

/*area of link*/
.flex-nav a{
  padding:20px 20px;
}

/*put content to right*/
.flex-nav ul{
  justify-content: flex-end;
}

/*-------------BODY AREA-------------*/



/*section wrapper*/
.heroImg{
  height: 60%;
  padding: 5%;
  width:60%;
  margin:0 auto;

  display:flex;  
}

/*photo area*/
.imgContent{
  width:60%;
  display:flex;
  justify-content: flex-end;
}

.imgContent img{
  align-items: center;
}

/*text area*/
.textContent{
  width:70%;
  display:flex;
  align-content: center;
  
}

.textContent ul{
  padding:5% 10%;
  display:flex;
  align-content: center;
  flex-direction: column;
  flex-wrap:wrap;
}

.textContent li{
  align-self:
}

/*adjusted my photo size*/
#myPhoto{
  height: auto;
}


/*-------------FOOTER-------------*/
.footer-wrapper{
  max-width:100%;
  margin: 0 auto;
  padding:20px;

  display:flex;
  
  font-weight: 200;
}

/*full width of footer for */
.flex-footer{
  width: 100%;
}

/*area of links*/
.flex-footer a{
  padding:10px 10px;
}

/*footer height and placing icons to the right*/
.flex-footer ul{
  height:10vh;
  justify-content: flex-end;
}

/*area fit the flex container of linked icons*/
.flex-footer li{
  align-self:stretch;
  display:flex;
  align-items: center;
}
